/**estilos del usuario */

:root {
    --background-color: #ffffff;
    --primary-color: #2C2C2C;
    --green-color: #2F4F4F;
}
.anuncion-bar {
    background-color: var(--primary-color);
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.announcement-bar__message {
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    letter-spacing: .1rem;
    min-height: 3.8rem;
}





.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10rem;

}

.menu li a {
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    font-family: 'Marcellus SC', serif;
    font-size: 1.1rem;
}

.menu li a:hover {
    color: #6d6969;
}

.Rectangle2 {
    background-color: var(--green-color);
    color: #000000;
}





.Tienda {
    width: 145px;
    height: 46px;
    left: 1073px;
    top: 250px;
    position: absolute;
    color: rgba(0, 0, 0, 0.80);
    font-size: 32px;
    font-family: Marcellus SC;
    font-weight: 400;
    word-wrap: break-word;
}

.HazUnaCita {
    width: 272px;
    height: 46px;
    left: 653px;
    top: 286px;
    position: absolute;
    color: rgba(0, 0, 0, 0.80);
    font-size: 32px;
    font-family: Marcellus SC;
    font-weight: 400;
    word-wrap: break-word;
}

.Th1 {
    width: 210px;
    height: 206px;
    left: 855px;
    top: 81px;
    position: absolute;
}



.Image1 a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
    margin: 10px;
}


.Search a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
}

/**pagina inicio */
.TheKingOfBarbershop {
    opacity: 0.90;
    color: rgba(255, 255, 255, 0.60);
    font-size: 66px;
    font-family: 'Marcellus SC', serif;
}

.text {
    font-family: 'Marcellus', serif;
    opacity: 0.99;
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
}

/**Estilos del Formulario */

.InicioDeSesiN {
    color: rgba(9.56, 9.56, 9.56, 0.80);
    font-size: 60px;
    font-family: 'Marcellus SC';
    font-weight: 400;
    margin-bottom: 40px;
}

.productos {
    font-family: 'Marcellus', serif;
    opacity: 0.99;
    color: rgba(9.56, 9.56, 9.56, 0.80);
    font-size: 18px;
    
}

.producto {
    font-family: 'Marcellus', serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 43px;
    margin-bottom: 50px;
}

.precio {
    font-family: 'Marcellus', serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
}

.mainSesion {
    padding-top: 25px;
}

.input-container input {
    padding: 10px;
    font-size: 19px;
    font-family: 'Marcellus';
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.input-container select {
    padding: 10px;
    font-size: 19px;
    font-family: 'Marcellus';
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 35px;
}

/* Botones */
.btn-custom {
    background-color: #d6b341;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Marcellus';
    width: auto;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #ac9035;
    /* Color al pasar el cursor */
}

.log {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 400;
    position: relative;
    margin-top: 15px;
}







/**imagen de prueba */
.imgPrincipal {
    width: auto;
    height: 400px;
}

.imgSecundaria {
    width: auto;
    height: 150px;
    margin-bottom: 20px;
}
.imgCart {
    width: auto;
    height: 95px;

}




/**estilos de editar perfil */

.right {
    flex: 1;
}


.right input {
    font-family: 'Marcellus SC';
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.textEdit {
    color: rgba(9.56, 9.56, 9.56, 0.80);
    font-size: 20px;
    font-family: 'Marcellus SC';
    font-weight: 400;
    margin-top: 10px;
}


/**Boton agregar */
.input-group {
    max-width: 120px;
}

.form-control {
    text-align: center;
}

/**Boton seguir comprando */

.botonShop {

    background-color: #d6b341;
    border: none;
    padding: 10px 20px;
    font-family: 'Marcellus';
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;

    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: 400;
}

.buttonMargen {
    width: 100rem;
}


.input{
    text-align: left;
}

.buttonSearch{
    border: none;
    background-color: #ffffff;

}

